@model List<Message>

<li class="nav-item dropdown hidden-caret">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="la la-envelope"></i>
        @if (ViewBag.UnreadMessagesCount != 0)
        {
            <span class="notification">@ViewBag.UnreadMessagesCount</span>
        }
    </a>
    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
        <li>
            @if (ViewBag.UnreadMessagesCount != 0)
            {
                <div class="dropdown-title">@ViewBag.UnreadMessagesCount Yeni Mesajınız Var</div>
            }
            else
            {
                <div class="dropdown-title">Henüz yeni bir mesajınız yok.</div>
            }
        </li>
        <li>
            <div class="notif-center">
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <a data-id="@item.Id" asp-controller="Message" asp-action="MessageDetail" asp-route-id="@item.Id">
                            <div class="notif-icon notif-light"><img src="~/icons/user-avatar-profile.png" style="width:3em; height:3em;" /> </div>
                            <div class="notif-content">
                                <span class="block">
                                    @item.NameSurname <br />
                                    <small>@item.Subject</small>
                                </span>
                                <span class="time">@item.SendDate.ToString("dd MMM yyyy HH:mm")</span>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a href="#">
                        <div class="notif-content">
                            <span class="block" style="margin-left:1em;">
                                Yeni mesaj yok
                            </span>
                        </div>
                    </a>
                }

            </div>
        </li>
        <li>
            <a class="see-all" href="/Message/Inbox/"> <strong>Tüm mesajları gör</strong> <i class="la la-angle-right"></i> </a>
        </li>
    </ul>
</li>


