@model Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="content" style="margin-bottom:20em;">
    <div class="container-fluid">
        <h4 class="page-title">İletişim</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">İletişim Bilgisi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            İletişim bilgisi ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Telefon</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Adres</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Title</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Phone</td>
                                    <td>@Model.Email</td>
                                    <td>@Model.Address</td>
                                    <td><a data-id="@ViewBag.contactId" asp-controller="Contact" asp-action="Update" asp-route-contactId="@ViewBag.contactId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            </tbody>
                        </table>
                       <a asp-controller="SocialMedia" asp-action="Index" class="btn btn-outline-dark"><i class="la la-github"></i> Sosyal Medya Bilgilerini Düzenle</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


